# Theory Questions

q1.  What are data structures, and why are they important?

Ans. Data structures are ways to organize and store data so that we can use it efficiently

structred data improves( time and memory ) the reduces the runtime of our code

Q2. Explain the difference between mutable and immutable data types with examples ?

Ans2. Mutable data type : That accepts modification even after creating it ( For ex. List )

Immutable data type: Changes will not apply you have recreate the variable changes are not allowed ( for ex. Tuple )

Q3. What are the main differences between lists and tuples in Python?

Ans3. List: Mutable therefore slower

Tuple: Immutable therefore faster

Q4. Describe how dictionaries store data?

Ans4. Python dictionaries store data as key-value pairs using a hash table implementation.

Q5.  Why might you use a set instead of a list in Python?

Ans5. Sets efficiently removes duplicates ( will not accept multiple occurence of same element)

Q6. What is a string in Python, and how is it different from a list?

Ans6. Strings contains immuatable sequence of characters on the contrary list is mutable

Q7. How do tuples ensure data integrity in Python?

Ans7. When tuples is created it will not accept changes hence its immutability will not allow accidental changes

Q8. What is a hash table, and how does it relate to dictionaries in Python?

Ans8. Hash table: Data structure that maps keys → values using a hash function.

Python dict is built on hash tables.

Q9. Can lists contain different data types in Python?

Ans9. Yes list can contains values of different types.

Q10. Explain why strings are immutable in Python?

Ans10. For security, memory optimization, and caching. Same string literals can be reused (string interning).

Q11. What advantages do dictionaries offer over lists for certain tasks?

Ans11. Fast key-based lookup

Data is stored as key-value pairs, easier to model real-world mappings.

Q12.  Describe a scenario where using a tuple would be preferable over a list?

Ans12. when we want uniqueness in value stored i.e, no repeation
Tuples are hashable , can be used as dict keys, lists cannot.

Q13.  How do sets handle duplicate values in Python?

Ans13. Duplicates are automatically removed in sets.

Q14. How does the “in” keyword work differently for lists and dictionaries?

Ans14. List: Checks if an element exists.

Dict: Checks if a key exists (not value).

Q15. Can you modify the elements of a tuple? Explain why or why not?

Ans15. No, tuples are immutable, you can’t change elements after creation.

Q16. What is a nested dictionary, and give an example of its use case?

Ans16. A dictionary containing another dictionary.

For ex.
students = {
  "Priyanshu": {"age": 20, "grade": "A"},
  "Ansh": {"age": 22, "grade": "B"}
}

Q17. Describe the time complexity of accessing elements in a dictionary?

Ans17. Generally its: O(1)

Q18.  In what situations are lists preferred over dictionaries?

Ans18. When order matters.

When you just need a simple sequence of items.

When indexes (not keys) are sufficient.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans19. Dictionaries are considered unordered because they don't store items in a specific sequence based on insertion order or any other predefined order.

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.

Ans20. List indexing based on position
 Dict indexing based on keys

# Practical Questions

In [1]:
# Write a code to create a string with your name and print it

Name="Priyanshu"
print(Name)

Priyanshu

In [2]:
# Write a code to find the length of the string "Hello World"

Word="Hello World"
print(len(Word))

11

In [3]:
# Write a code to slice the first 3 characters from the string "Python Programming"

string="Python Programming"
print(string[0:3])

Pyt

In [4]:
# Write a code to convert the string "hello" to uppercase

a="hello"
print(a.upper())

HELLO

In [5]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"

a="I like apple"
print(a.replace("apple","orange"))

I like orange

In [6]:
# Write a code to create a list with numbers 1 to 5 and print it?

lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

In [7]:
# Write a code to append the number 10 to the list [1, 2, 3, 4].

lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [8]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [9]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

lst = ['a', 'b', 'c', 'd']
print(lst[1]) # in python indexing starts from zero

b

In [12]:
# Write a code to reverse the list [10, 20, 30, 40, 50].

lst = [10, 20, 30, 40, 50]
print(lst[::-1])

[50, 40, 30, 20, 10]

In [16]:
#Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it

a = (100, 200, 300)
print(a)

(100, 200, 300)

In [15]:
#Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

a = ('red', 'green', 'blue', 'yellow')
print(a[-2])

blue

In [17]:
#Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

t = (10, 20, 5, 15)
min_num = min(t)
print("The minimum number in the tuple is:", min_num)

The minimum number in the tuple is: 5

In [18]:
#Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

t = ('dog', 'cat', 'rabbit')
index = t.index('cat')
print("The index of 'cat' in the tuple is:", index)

The index of 'cat' in the tuple is: 1

In [20]:
#Q15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "cherry" , "kiwi")
if "kiwi" in fruits:
    print("kiwi is there")
else:
    print("kiwi is not there")

kiwi is there

In [24]:
#Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

set1 = {'a','b','c'}
print(sorted(set1))

['a', 'b', 'c']

In [26]:

#Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

Set2={1,2,3,4,5}
clear=Set2.clear()
print(clear)

None

In [27]:
#Q18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

Set3={1,2,3,4}
Set3.remove(4)
print(Set3)

{1, 2, 3}

In [28]:
#Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

A = {1, 2, 3}
B = {3, 4, 5}
A_union_B = A.union(B)
print(A_union_B)

{1, 2, 3, 4, 5}

In [29]:
#Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

A= {1, 2, 3}
B= {2, 3, 4}
A_intersection_B = A.intersection(B)
print(A_intersection_B)

{2, 3}

In [30]:
#Q21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

my_dict = {"name": "Priyanshu", "age": 19, "city": "Rudrapur"}
print(my_dict)

{'name': 'Priyanshu', 'age': 19, 'city': 'Rudrapur'}

In [31]:
#Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [32]:
#Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

my_dict = {'name': 'Alice', 'age': 30}
print(my_dict['name'])

Alice

In [33]:
#Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [34]:
#Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [35]:
#Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_dict = {'a': 1, 'b': 2, 'c': 3 , 'd': 4 , 'e': 5}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [36]:
'''Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.'''

import random

# create a list of 5 random numbers between 1 and 100
numbers = [random.randint(1, 100) for _ in range(5)]

# sort the list in ascending order
numbers.sort()

# print the result
print("Sorted List:", numbers)

Sorted List: [7, 13, 16, 49, 60]

In [40]:
#Q28.  Write a code to create a list with strings and print the element at the third index.

my_list = ["ansh", "anurag", "hrishikesh", "priyanshu", "payal"]
print(my_list[2])

hrishikesh

In [42]:
#Q29. Write a code to combine two dictionaries into one and print the result.


a = {"a": 1, "b": 2}
b = {"c": 3, "d": 4}


combined = {**a, **b}


print("Combined Dictionary:", combined)

Combined Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [44]:
#Q30. Write a code to convert a list of strings into a set.


lst = ["ansh", "anurag", "hrishikesh", "payal", "priyanshu"]


my_set = set(lst)


print("Set:", sorted(my_set))

Set: ['ansh', 'anurag', 'hrishikesh', 'payal', 'priyanshu']